<section id="journal">
	<div>
		<h1>INHABITENT JOURNAL</h1>
	</div>
	<div class="flex flex-row flex-space-between width100">
		<div class="journalCell">
			<img src="../assets/images/blog-photos/van-camper.jpg" class="journalThumb">
			<div class="flex flex-col flex-space-between">
				<div class="greyBox flex flex-col">
					<div class="flex-grow height60px">
						<p>14 April 2016</p>
						<h3 class="journalTxt">VAN CAMPING PHOTO CONTEST</h3>
					</div>
					<a routerLink='../article'><button id="journalone" type="button" class="journalButton" name="journalone">READ ENTRY</button></a>
				</div>
			</div>
		</div>
		<div class="journalCell">
			<img src="../assets/images/blog-photos/warm-cocktail.jpg" class="journalThumb">
			<div class="flex flex-col flex-space-between">
				<div class="greyBox">
					<div class="height60px">
						<p>2 April 2016</p>
						<h3 class="journalTxt">FIRESIDE LIBATIONS: 3 WARM COCKTAIL RECIPIES</h3>
					</div>
					<a routerLink='../article'><button id="journaltwo" type="button" class="journalButton" name="journaltwo">READ ENTRY</button></a>
				</div>
			</div>
		</div>
		<div class="journalCell">
			<img src="../assets/images/blog-photos/healthy-camp-food.jpg" class="journalThumb">
			<div class="flex flex-col flex-space-between">
				<div class="greyBox">
					<div class="height60px">
						<p>31 March 2016</p>
						<h3 class="journalTxt">HOW TO: EATING HEALTHY MEALS IN THE WILD</h3>
					</div>
					<a routerLink='../article'><button id="journalthree" type="button" class="journalButton" name="journalthree">READ ENTRY</button></a>
				</div>
			</div>
		</div>
	</div>
</section>