<section *ngIf='journalList' id="journal">
	<div>
		<h1>INHABITENT JOURNAL</h1>
	</div>
	<div class="flex flex-row flex-space-between">
		<style scoped>
			.image1 {background: url({ journalList.journals[0].image });}
			.image2 {background: url(journalList.journals[1].image);}
			.image3 {background: url(journalList.journals[2].image);}
		</style>
		<div class="journalCell">
			<img src="{{journalList.journals[0].image}}" onerror="this.src='../../../../assets/images/error.png'" class="journalThumb image1">
			<div class="flex flex-col flex-space-between">
				<div class="greyBox flex flex-col">
					<div class="flex-grow height60px">
						<p>{{journalList.journals[0].date}}</p>
						<h3 class="journalTxt">{{journalList.journals[0].title}}</h3>
					</div>
					<a [routerLink]="['/article', journalList.journals[0].ID]"><button id="{{journalList.journals[0].ID}}" type="button" class="journalButton" name="journalone">READ ENTRY</button></a>
				</div>
			</div>
		</div>
		<div class="journalCell">
			<img src="{{journalList.journals[1].image}}" onerror="this.src='../../../../assets/images/error.png'" class="journalThumb">
			<div class="flex flex-col flex-space-between">
				<div class="greyBox">
					<div class="height60px">
						<p>{{journalList.journals[1].date}}</p>
						<h3 class="journalTxt">{{journalList.journals[1].title}}</h3>
					</div>
					<a [routerLink]="['/article', journalList.journals[1].ID]"><button id="{{journalList.journals[1].ID}}" type="button" class="journalButton" name="journaltwo">READ ENTRY</button></a>
				</div>
			</div>
		</div>
		<div class="journalCell">
			<img src="{{journalList.journals[2].image}}" onerror="this.src='../../../../assets/images/error.png'" class="journalThumb">
			<div class="flex flex-col flex-space-between">
				<div class="greyBox">
					<div class="height60px">
						<p>{{journalList.journals[2].date}}</p>
						<h3 class="journalTxt">{{journalList.journals[2].title}}</h3>
					</div>
					<a [routerLink]="['/article', journalList.journals[2].ID]"><button id="{{journalList.journals[2].ID}}" onclick="getArticle($event)" type="button" class="journalButton" name="journalthree">READ ENTRY</button></a>
				</div>
			</div>
		</div>
	</div>
</section>