<div class="flex flex-center-j">
	<div class="flex width90 flex-col">
		<h3>POST A NEW JOURNAL</h3>
		<form (ngSubmit) = "submitForm(jform)">
	    <div class="flex flex-col">
	    	<div class="flex flex-row flex-center-a">
	    		<div class="width10">
		      	<label class="formInputField">Name: </label>
		      </div>
		      <div class="width80">
		      	<input type="text" [(ngModel)]="jform.author" name="author" placeholder="name" required>
		      </div>
		    </div>
		    <div class="flex flex-row flex-center-a">
		    	<div class="width10">
		      	<label class="formInputField">Title: </label>
		      </div>
		      <div class="width80">
		      	<input type="text" [(ngModel)]="jform.title" name="title" placeholder="title" required>
		      </div>
		    </div>
		    <div class="flex flex-row flex-center-a">
		    	<div class="width10">
		      	<label class="formInputField">Content: </label>
		      </div>
		      <div class="width80">
		      	<textarea type="text" [(ngModel)]="jform.content" name="content" placeholder="content" required></textarea>
		      </div>
		    </div>
		    <div class="flex flex-row flex-center-a">
		    	<div class="width10">
		      	<label class="formInputField">Categories: </label>
		      </div>
		      <div class="width80">
		      	<input type="text" [(ngModel)]="jform.categories" name="categories" placeholder="categories" required>
		      </div>
		    </div>
		    <div class="flex flex-row flex-center-a">
		    	<div class="width10">
		      	<label class="formInputField">Image URL: </label>
		      </div>
		      <div class="width80">
		      	<input type="text" [(ngModel)]="jform.image" name="image" placeholder="image" required>
		      </div>
		    </div>
	    </div>
	    <button type="submit" name="submit">Submit</button>
		</form>
	</div>
</div>
<pre>Form : {{ jform.author }} {{ jform.title }} {{ jform.content }} {{ jform.image }} {{ jform.categories }}</pre>