<section id="shop" class="flex flex-col flex-center-a">
	<div>
		<h1>SHOP STUFF</h1>
	</div>
	<div class="flex flex-row flex-space-around width100 flex-center-j">
		<div class="flex flex-col flex-center-a shopCell greyBox">
			<img src="../assets/images/product-type-icons/do.svg" class="shopIcon">
			<div class="flex flex-col flex-center-a flex-space-between flex-grow">
				<p class="shopTxt">Get back to nature with all the tools and toys you need to enjoy the great outdoors.</p>
				<button id="doStuff" type="button" class="shopButton shopButtonWidth" name="doStuff">DO STUFF</button>
			</div>
		</div>
		<div class="flex flex-col flex-center-a shopCell greyBox">
			<img src="../assets/images/product-type-icons/eat.svg" class="shopIcon">
			<div class="flex flex-col flex-center-a flex-space-between flex-grow">
				<p class="shopTxt">Nothing beats food ocooked over a fire. We have all you need for good camping eats.</p>
				<button id="eatStuff" type="button" class="shopButton shopButtonWidth" name="eatStuff">EAT STUFF</button>
			</div>
		</div>
		<div class="flex flex-col flex-center-a shopCell greyBox">
			<img src="../assets/images/product-type-icons/sleep.svg" class="shopIcon">
			<div class="flex flex-col flex-center-a flex-space-between flex-grow">
				<p class="shopTxt">Geat a good night's rest in the wild in a home away from home that travels well.</p>
				<button id="sleepStuff" type="button" class="shopButton shopButtonWidth" name="sleepStuff">SLEEP STUFF</button>
			</div>
		</div>
		<div class="flex flex-col flex-center-a shopCell greyBox">
			<img src="../assets/images/product-type-icons/wear.svg" class="shopIcon">
			<div class="flex flex-col flex-center-a flex-space-between flex-grow">
				<p class="shopTxt">From flannel shirts to toques, look the part while roughing it in the great outdoors.</p>
				<button id="wearStuff" type="button" class="shopButton shopButtonWidth" name="wearStuff">WEAR STUFF</button>
			</div>
		</div>
	</div>
</section>