<section id="navigation" class="flex flex-col flex-center-a">
	<div class="fixed flex flex-row flex-space-between flex-center-a width90"> 
		<div>
			<a [routerLink]="['/home']"><img src="../assets/images/logos/inhabitent-logo-tent-white.svg" class="navSize padding10"></a>
		</div>
		<div class="padding10">
			<ul class="flex flex-row">
				<li class="white-color bold shadowTxt"><a [routerLink]="['/home']">SHOP</a></li>
				<li class="white-color bold shadowTxt"><a [routerLink]="['/journal']">JOURNAL</a></li>
				<li class="white-color bold shadowTxt"><a [routerLink]="['/home']">ABOUT</a></li>
				<li class="white-color bold shadowTxt"><a [routerLink]="['/home']">FIND US</a></li>
			</ul>
		</div>
	</div>
</section>