<div *ngIf='journalList'>
	<section id="latest">
		<h1>LASTEST ADVENTURES</h1>
			<div class="flex">
				<div>
					<div class="latestPhoto1 container">
						<img src="../../../assets/images/adventure-photos/canoe-girl.jpg" onerror="this.src='../../../assets/images/error.png'" class="latestPhoto1">
						<div class="topleft">
							<h2 class="padding10 latestTxt">Getting Back to Nature in a Canoe</h2>
							<a routerLink='/adventure'><button id="ID" type="button" class="latestButton marginH10" name="ID">READ MORE</button></a>
						</div>
					</div>
				</div>
				<div class="flex flex-col">
					<div>
						<div class="latestPhoto2 container">
							<img src="../../../assets/images/adventure-photos/beach-bonfire.jpg" onerror="this.src='../../../assets/images/error.png'" class="latestPhoto2">
							<div class="topleft">
								<h2 class="padding10 latestTxt2">A Night with Friends at the Beach</h2>
								<a routerLink='/adventure'><button id="ID" type="button" class="latestButton marginH10" name="ID">READ MORE</button></a>
							</div>
						</div>
					<div class="flex flex-row">
						<div>
							<div class="latestPhoto3 container">
								<img src="../../../assets/images/adventure-photos/mountain-hikers.jpg" onerror="this.src='../../../assets/images/error.png'" class="latestPhoto3">
								<div class="topleft">
									<h2 class="padding10 latestTxt3">Talking in the View at Big Mountain</h2>
									<a routerLink='/adventure'><button id="ID" type="button" class="latestButton marginH10" name="ID">READ MORE</button></a>
								</div>
							</div>
						</div>
						<div>
							<div class="latestPhoto3 container">
								<img src="../../../assets/images/adventure-photos/night-sky.jpg" onerror="this.src='../../../assets/images/error.png'" class="latestPhoto4">
								<div class="topleft">
									<h2 class="padding10 latestTxt3">Star-Gazing at the Night Sky</h2>
									<a routerLink='/adventure'><button id="ID" type="button" class="latestButton marginH10" name="ID">READ MORE</button></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<a routerLink='../journal'><button id="latestOne" type="button" class="lastestMoreButton" name="latestOne">MORE ADVENTURES</button></a>
</section>
</div>
