<section id="navigation" class="flex flex-col flex-center-a">
	<div class="fixed flex flex-row flex-space-between flex-center-a width90"> 
		<div>
			<img src="../assets/images/logos/inhabitent-logo-tent-white.svg" class="navSize padding10">
		</div>
		<div class="padding10">
			<ul class="flex flex-row">
				<li class="white-color">SHOP</li>
				<li class="white-color">JOURNAL</li>
				<li class="white-color">ABOUT</li>
				<li class="white-color">FIND US</li>
			</ul>
		</div>
	</div>
</section>

<section id="herobanner">
	<div class="heroBanner width100 flex flex-center-a flex-center-j">
		<img src="../assets/images/logos/inhabitent-logo-full.svg" class="heroLogo">
	</div>
</section>

<main class="flex flex-col flex-center-a">
	<div class="mainSides">
		<section id="shop">
			<div>
				<h1>SHOP STUFF</h1>
			</div>
			<div class="flex flex-row flex-space-between width100">
				<div class="flex flex-col flex-center-a shopCell greyBox">
					<img src="../assets/images/product-type-icons/do.svg" class="shopIcon">
					<div class="flex flex-col flex-center-a flex-space-between flex-grow">
						<p class="shopTxt">Get back to nature with all the tools and toys you need to enjoy the great outdoors.</p>
						<button id="doStuff" type="button" class="shopButton shopButtonWidth" name="doStuff">DO STUFF</button>
					</div>
				</div>
				<div class="flex flex-col flex-center-a shopCell greyBox">
					<img src="../assets/images/product-type-icons/eat.svg" class="shopIcon">
					<div class="flex flex-col flex-center-a flex-space-between flex-grow">
						<p class="shopTxt">Nothing beats food ocooked over a fire. We have all you need for good camping eats.</p>
						<button id="eatStuff" type="button" class="shopButton shopButtonWidth" name="eatStuff">EAT STUFF</button>
					</div>
				</div>
				<div class="flex flex-col flex-center-a shopCell greyBox">
					<img src="../assets/images/product-type-icons/sleep.svg" class="shopIcon">
					<div class="flex flex-col flex-center-a flex-space-between flex-grow">
						<p class="shopTxt">Geat a good night's rest in the wild in a home away from home that travels well.</p>
						<button id="sleepStuff" type="button" class="shopButton shopButtonWidth" name="sleepStuff">SLEEP STUFF</button>
					</div>
				</div>
				<div class="flex flex-col flex-center-a shopCell greyBox">
					<img src="../assets/images/product-type-icons/wear.svg" class="shopIcon">
					<div class="flex flex-col flex-center-a flex-space-between flex-grow">
						<p class="shopTxt">From flannel shirts to toques, look the part while roughing it in the great outdoors.</p>
						<button id="wearStuff" type="button" class="shopButton shopButtonWidth" name="wearStuff">WEAR STUFF</button>
					</div>
				</div>
			</div>
		</section>

		<section id="journal">
			<div>
				<h1>INHABITENT JOURNAL</h1>
			</div>
			<div class="flex flex-row flex-space-between width100">
				<div class="journalCell">
					<img src="../assets/images/blog-photos/van-camper.jpg" class="journalThumb">
					<div class="flex flex-col flex-space-between">
						<div class="greyBox flex flex-col">
							<div class="flex-grow height60px">
								<p>14 April 2016</p>
								<h3 class="journalTxt">VAN CAMPING PHOTO CONTEST</h3>
							</div>
							<button id="journalone" type="button" class="journalButton" name="journalone">READ ENTRY</button>
						</div>
					</div>
				</div>
				<div class="journalCell">
					<img src="../assets/images/blog-photos/warm-cocktail.jpg" class="journalThumb">
					<div class="flex flex-col flex-space-between">
						<div class="greyBox">
							<div class="height60px">
								<p>2 April 2016</p>
								<h3 class="journalTxt">FIRESIDE LIBATIONS: 3 WARM COCKTAIL RECIPIES</h3>
							</div>
							<button id="journaltwo" type="button" class="journalButton" name="journaltwo">READ ENTRY</button>
						</div>
					</div>
				</div>
				<div class="journalCell">
					<img src="../assets/images/blog-photos/healthy-camp-food.jpg" class="journalThumb">
					<div class="flex flex-col flex-space-between">
						<div class="greyBox">
							<div class="height60px">
								<p>31 March 2016</p>
								<h3 class="journalTxt">HOW TO: EATING HEALTHY MEALS IN THE WILD</h3>
							</div>
							<button id="journalthree" type="button" class="journalButton" name="journalthree">READ ENTRY</button>
						</div>
					</div>
				</div>
			</div>
		</section>
		<app-latest-blog-view>
		</app-latest-blog-view>
	</div>
</main>
<footer class="footerBG flex flex-col flex-center-a">
	<div class="flex flex-row flex-center-j width90 marginH10">
		<div class="flex flex-col padding10">
			<h4 class="orange-color marginV10">CONTACT INFO</h4>
			<p class="white-color marginV10"><i class="white-color fa fa-envelope" aria-hidden="true"></i> info@inhabitent.com</p>
			<p class="white-color marginV10">778-456-7891</p>
			<div class="flex flex-row marginV10">
				<i class="white-color fa fa-facebook-square" aria-hidden="true"></i>
				<i class="white-color marginH10 fa fa-twitter-square" aria-hidden="true"></i>
				<i class="white-color fa fa-google-plus-square" aria-hidden="true"></i>fa-envelope-o
			</div>
		</div>
		<div class="flex flex-row flex-grow">
			<div class="flex flex-col flex-grow padding10 marginH10">
				<h4 class="orange-color marginV10">BUSINESS HOURS</h4>
				<p class="white-color marginV10">Monday-Friday:9am to 5pm</p>
				<p class="white-color marginV10">Saturday: 10am to 2pm</p>
				<p class="white-color marginV10">Sunday: Closed</p>
			</div>
			<div>
				<img src="../assets/images/logos/inhabitent-logo-text.svg" class="footerLogo padding10 marginV10">
			</div>
		</div>
	</div>
	<h6 class="white-color padding10 footerFineSpacing">COPYRIGHT &copy; 2016 INHABITENT</h6>
</footer>
<app-blog-view></app-blog-view>