<app-nav2-view></app-nav2-view>
<section id="latestjournals" class="flex flex-center-j">
	<div class="flex width90 flex-row">
		<div class="flex flex-col width75 verticalLine">
			<h1>LATEST JOURNAL POST</h1>
			<div *ngIf='journalList'>
			  <div *ngFor='let journal of journalList.journals; let i=index' class="">
			  	<div *ngIf='i<8' class="width90 marginB25">
			  		<div class="journalImageCell">
				  		<img src="{{journal.image}}" onerror="this.src='../../../../assets/images/error.png'" class="journalListImage">
				  		<p class="journalTitleTxt">{{journal.title}}</p>
				    	<p class="journalDateTxt">{{journal.date}}</p>
				    </div>
				    <p class="journalContentTxt">{{journal.content.substring(0, 200)}} [...]</p>
				    <a [routerLink]="['/article', journal.ID]"><button type="button" name="READ MORE" id="{{journal.ID}}" class="latestContentButton journalListTxt" ng-click="">READ MORE <i class="fa fa-icon-long-arrow-right"></i></button></a>
				   </div>
			  </div>
			</div>
		</div>
		<div class="flex flex-col marginH10">
			<h5>CONTACT INFO</h5>
			<p>778-456-7891</p>
			<p>info@inhabitent.com</p>
			<p>1490 Broadway</p>
			<p>Vancouver, BC, V6H 1H5</p>
			<h5>BUSINESS HOURS</h5>
			<p>Monday-Friday: 9am to 5pm</p>
			<p>Saturday: 10am to 2pm</p>
			<p>Sunday: Closed</p>
			<h5>ARCHIEVES</h5>
			<p>April</p>
			<p>March</p>
		</div>
	</div>
</section>

