<app-nav2-view></app-nav2-view>
<section id="latestjournals" class="flex flex-center-j">
	<div class="flex width90 flex-row">
		<div class="flex flex-col width75 verticalLine">
			<h1>LATEST JOURNAL POST</h1>
			<div *ngIf='journalList'>
			  <div *ngFor='let journal of journalList.journals; let i=index' class="">
			  	<div *ngIf='i<8' class="width90 marginB25">
			  		<div class="journalImageCell">
						<img src="{{ journal.image }}" onerror="this.src='../../../../assets/images/error.png'" class="journalListImage">
						<p class="journalTitleTxt">{{ journal.title }}</p>
						<p class="journalDateTxt">{{ journal.date }}</p>
					</div>
					<div *ngIf='journal.content.length>250'>
				    	<p class="journalContentTxt">{{journal.content.substring(0, 250)}} [...]</p>
				    </div>
				    <div *ngIf='journal.content.length<250'>
				    	<p class="journalContentTxt">{{journal.content}}</p>
				    </div>
				    <a [routerLink]="['/article', journal.ID]"><button type="button" name="READ MORE" id="{{journal.ID}}" class="journalListButton journalListTxt" ng-click="">READ MORE <i class="fa fa fa-arrow-right" aria-hidden="true"></i></button></a>
				   </div>
			  </div>
			</div>
		</div>
		<div class="flex flex-col marginH10">
			<h5 class="bold">CONTACT INFO</h5>
			<div class="flex flex-row marginV10">
				<div class="flex flex-col">
					<i class="fa fa-phone marginR10 marginV10" aria-hidden="true"></i>
					<i class="fa fa-envelope marginR10 marginV10" aria-hidden="true"></i>
					<i class="fa fa-map-marker marginR10 marginV10" aria-hidden="true"></i>
				</div>
				<div class="flex flex-col">
					<p class="marginV10">778-456-7891</p>
					<p class="marginV10">info@inhabitent.com</p>
					<p class="marginV10"> 1490 Broadway</p>
					<p class="">Vancouver, BC, V6H 1H5</p>
				</div>
			</div>
			<div class="flex flex-col marginV10">
				<h5 class="bold marginV10">BUSINESS HOURS</h5>
				<p class="marginV10">Monday-Friday: 9am to 5pm</p>
				<p class="marginV10">Saturday: 10am to 2pm</p>
				<p class="marginV10">Sunday: Closed</p>
			</div>
			<div class="flex flex-col marginV10">
				<h5 class="bold marginV10">ARCHIEVES</h5>
				<p class="marginV5">April</p>
				<p class="marginV5">March</p>
			</div>
		</div>
	</div>
</section>

