/* ---------CSS RESET--------- */
/* ---------CSS RESET--------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

/* ---------GLOBAL CSS--------- */
/* ---------GLOBAL CSS--------- */

* {
  -webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: Novecento;
    src: url(assets/fonts/Novecento/Novecentosanswide-Normal.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Novecento;
    src: url(assets/fonts/Novecento/Novecentosanswide-DemiBold.ttf);
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Novecento;
  font-weight: normal;
}
body{
  font-size: 14px;
}
p {
  font-family: Merriweather;
  font-weight: 300;
  font-size: 0.9em;
  line-height: 1.4;
}
h1 {
  text-align: center;
  font-size: 1.5rem;
  margin: 35px 0px;
}
h2{
  font-family: Merriweather;
  font-size: 1.2rem;
  color: white;
}
h3{
  font-size: 1rem;
}
h4 {
  font-size: .95rem;
}
h5 {
  font-size: .9rem;
  margin: 10px 0px 5px 0px;
}
h6 {
  font-size: .8em;
}
li {
  font-family: Novecento; 
  list-style: none;
  margin: 0px 8px;
  font-size: 0.9em;
}
a { 
  text-decoration: none
}
a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: black;
}
a:active {
    color: black;
}
.fixed {
  position: absolute;
}
.flex {
  display: flex;
}
.flex-no-wrap {
  flex-wrap: nowrap;
}
.flex-row {
  flex-flow: row wrap;
}
.flex-col {
  flex-flow: column wrap;
}
.flex-space-between {
  justify-content: space-between;
}
.flex-self-start {
  align-self: flex-start;
}
.flex-self-end {
  align-self: flex-end;
}
.flex-center-j{
  justify-content: center;
}
.flex-center-a{
  align-items: center;
}
.flex-grow {
  flex-grow:1;
}
.navSize {
  height: 40px;
  width: contain;
}
.width100 {
  width: 100%;
}
.width95 {
  width: 95%;
}
.width90 {
  width: 90%;
}
.width80 {
  width: 80%;
}
.width75 {
  width: 75%;
}
.width70 {
  width: 70%;
}
.width15 {
  width: 15%;
}
.height60px {
  height: 60px;
}
.padding10 {
  padding: 10px;
}
.marginV25 {
  margin: 25px 0px;
}
.marginV10 {
  margin: 10px 0px;
}
.marginV5 {
  margin: 5px 0px;
}
.marginH10 {
  margin: 0px 10px;
}
.marginR10 {
  margin-right: 10px;
}
.marginH5 {
  margin: 0px 5px;
}
.marginB25 {
  margin-bottom: 25px;
}
.white-color {
  color: white;
}
.orange-color{
  color: orange;
}
.mainSides {
  width:90%;
}
.container {
    position: relative;
}
.bold {
  font-weight: bold;
}
.shadowTxt {
  text-shadow: 2px 2px grey;
}
.alignTxtLeft {
  text-align: left;
}

/* ---------NAV--------- */
/* ---------NAV--------- */
 .bottomLine {
  border-bottom: 1px solid grey;
  margin-bottom: 5px;
}

/* ---------BANNER--------- */
/* ---------BANNER--------- */

.heroBanner {
  background-image: url(assets/images/home-hero.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.heroLogo {
  height: 175px;
  width: auto;
}
.heroCell {
  height:50vh;
  width:100%;
  min-height: 300px;
}

/* ---------SHOP--------- */
/* ---------SHOP--------- */

.shopIcon {
  height: 50px;
  width: auto;
  padding: 5px 0px 10px 0px;
}
.shopTxt {
  line-height: 1.4;
  text-align: center;
  margin: 10px 0px;
}
.shopButton {
  background-color: #248a83;
  color:white;
  padding: 5px 13px;
  border-style: none;
}
.shopButtonWidth {
  max-width: 120px;
}
.shopCell {
  width: 20%;
  min-width: 165px;
  max-width: 190px;
}
.greyBox {
  border: 1px solid lightgrey;
  border-width: 3px 1px 1px 1px;
  padding: 10px;
}

/* ---------JOURNAL--------- */
/* ---------JOURNAL--------- */

.journalThumb {
  height: 18vw;
  width: 100%;
}
.journalCell{
  width: 28vw;
  height: auto;
}
.journalButton {
  background-color: transparent;
  width: 100px;
  margin-top: 10px;
  border-style: solid;
}
.journalTxt {
  color : #248a83;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 5px 0px;
}
.journalListButton {
  color: #000000;
  background-color: transparent;
  border: 1px solid #248a83;
  padding: 5px 13px;
}
.journalListImage {
  position: absolute;
  height: 35vw;
  width: 65vw;
}
.journalTitleTxt {
  position: absolute;
  top:25%;
  background-color: #248a83;
  font-family: Novecento;
  font-weight: bold;
  font-size: 1.4em;
  color: #ffffff;
  padding: 1rem 3rem 1rem 1rem;
  max-width: 70%;
}
.journalDateTxt {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #248a83;
  padding: 1rem 1rem 1rem 3rem;
  color: #ffffff;
  font-size: 1em;
  font-weight: bold;
}
.journalContentTxt {
  margin: 10px 0px;
}
.journalImageCell {
  position: relative;
  height: 35vw;
  width: 65vw;
}
.verticalLine {
  border-right: 1px solid grey;
  margin-right: 5px;
}

/* ---------ADVENTURE--------- */
/* ---------ADVENTURE--------- */

.latestImg {
  width: auto;
  height: 100%;
  position: center;
  overflow: hidden;
}
.latestPhoto1 {
  height: 44.5vw;
  width: 44.5vw;
  margin: 0vw 0.25vw 0vw 0vw;
}
.latestPhoto2 {
  height: 22vw;
  width: 44.75vw;
  margin: 0vw 0vw 0.25vw 0.25vw;
}
.latestPhoto3 {
  height: 21.75vw;
  width: 22vw;
  margin: 0.25vw 0.25vw 0vw 0.25vw;
}
.latestPhoto4 {
  height: 21.75vw;
  width: 22vw;
  margin: 0.25vw 0vw 0vw 0.5vw;
}
.latestButton {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 5px 13px;
}
.lastestMoreButton {
  background-color: #248a83;
  color:white;
  padding: 5px 13px;
  margin: 20px 0px;
  min-width: 100px;
  max-width: 150px;
  width: 55%;
  border-style: none;
}
.latestTxt {
  font-family: Merriweather;
  font-size: 2.5em;
  color: white;
  margin: 15px 0px;
  line-height: 1.2;
}
.latestTxt2 {
  font-family: Merriweather;
  font-size: 2em;
  color: white;
  margin: 15px 0px 10px 0PX;
  line-height: 1.2;
}
.latestTxt3 {
  font-family: Merriweather;
  font-size: 1.5em;
  color: white;
  margin: 15px 0px 5px 0px;
  line-height: 1.2;
}
.topleft {
    position: absolute;
    top: 5px;
    left: 5px;
}
.adventureCell {
  height:90vh;
  width:100%;
  min-height: 300px;
}
.adventureButton {
  background-color: transparent;
  padding: 5px 13px;
  text-decoration: none;
  border: 2px solid #248a83;
}
/* ---------FOOTER--------- */
/* ---------FOOTER--------- */

.footerBG {
  background-color: black;
}
.footerLogo {
  height: 40px;
}
.footerFineSpacing{
  margin-top: 40px;
}

/* ---------FORM--------- */
/* ---------FORM--------- */

input {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
    width: 70%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}
.formButton {
  color: #ffffff;
  background-color: #248a83;
  border: 1px solid #248a83;
  padding: 5px 13px;
}
.formInputField {
  margin : 20px 0px;
}